:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --yellow-color: #e4d533;
    --orange-color: #ff693d;
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Resto del CSS */
  
  
.VegetaBlue {
  background-image: url(./assets/vegetablue.jpg);
}
  
.gokuUI {
  background-image: url(./assets/gokuui.webp);
}
  
.Jiren {
  background-image: url(./assets/jiren.jpg);
}
  
.GoldenFreezer {
  background-image: url(./assets/goldenfrezzer.jpeg);
}
  
main{
  background-image: url(./assets/arena.webp);
}
  
body{
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  height: 100vh;
  width: 100%;    
  margin: auto;
  padding: 10px;
  grid-template-areas: 
  "header Jiren VegetaBlue"
  "GoldenFreezer gokuUI VegetaBlue"
  "main gokuUI footer";
}

header, main, footer, .gokuUI, .VegetaBlue, .GoldenFreezer, .Jiren {
  background-position: center;
  background-size: cover;
  color: var(--yellow-color);
  height: auto;
  width: auto;
  max-height: 100% ;
}

header {
  display: grid;
  grid-area: header;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  color: var(--primary-color);
  font-size: 20px;
  background-color: var(--orange-color);
}

.logo{
  align-items: center;
  height: auto;
  justify-items: center;
  max-width: 500px;
}

.gokuUI{
  grid-area: gokuUI;
  
}

.VegetaBlue{
  grid-area: VegetaBlue;
}
  
main{
  display: grid;
  grid-area: main;
  align-content: center;
  align-items: center;
  justify-content: ju;
  justify-items: center;
  padding: 15px;
  text-align: justify;
  color: var(--primary-color);
}
main > h2{
  text-transform: uppercase;
}

.GoldenFreezer{
  grid-area: GoldenFreezer;
}
 
.Jiren{
grid-area: Jiren;}

footer{
  display: grid;
  grid-area: footer;
  align-items: center;
  align-content: center;
  text-align: justify;
  justify-content: center;
  justify-items: center;
  background-image: url(./assets/universo7.webp);
  padding: 15px;
  color: var(--primary-color);
}

footer >h3{
  font-size: 25px;
  color: var(--primary-color);
  margin: auto;
  text-transform: uppercase;
}

@media screen and (max-width: 950px) {
  .logo {
    height: auto;
  width: auto;  
  }
}
  
@media screen and (max-width: 750px) {
  header {
    grid-area: header; 
    min-height: 200px;
  }
  .logo{
    height: auto;
    width: auto;
  }
  .gokuUI {
    grid-area: gokuUI;
    min-height: 230px;
  }
  .VegetaBlue {
    grid-area: VegetaBlue;
    min-height: 250px;
  }
  main {
    font-size: 15px;
    grid-area: main;
    min-height: 200px;
  }
  .GoldenFreezer {
    grid-area: GoldenFreezer;
    min-height: 300px;
  }
  .Jiren {
    grid-area: Jiren;
    min-height: 280px;
  }
  footer {
    grid-area: footer;
    min-height: 200px;
  }
  footer > h3{
    font-size: 50px;
  }
  body {
    width: auto;
      min-height: 900px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
                          "header"
                          "gokuUI"
                          "VegetaBlue"
                          "main"
                          "GoldenFreezer"
                          "Jiren"
                          "footer";
    }
  }
